<!--Article-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">

    <div class="row clearfix" *ngIf="post" style="padding-top: 100px;">

      <div class="col-1 imageContainer">
          <img src="../assets/images/Interview/LT_score_6 copy.jpg">
          <a class="button" (click)="playAudio()">Play</a>
          <a class="button" (click)="pauseAudio()">Pause</a>
      </div>
      <div class="col-2-3">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Title: Interview - Lioyd Trotman
              </mat-panel-title>
              <mat-panel-description>
                Click to see more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Interview</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Instrumentation
              </mat-panel-title>
              <mat-panel-description>
                Click to see more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Instrumentation</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Artist: Sam Taylor
              </mat-panel-title>
              <mat-panel-description>
                Click to see more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Sam Taylor</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Arranger: Lioyd Trotman
              </mat-panel-title>
              <mat-panel-description>
                Click to see more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lloyd Trotman</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Form: Music Sheet
              </mat-panel-title>
              <mat-panel-description>
                Click to see more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Music Sheet</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Notes: Tenor Sax
              </mat-panel-title>
              <mat-panel-description>
                Click to see more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Performed by Sam Taylor on "The Man" Show in 1955</p>
          </mat-expansion-panel>

        </mat-accordion>
      
      </div>

    </div>

  <div>
    <h2>See Related Items</h2>
  </div>
  <div class="row clearfix" *ngIf="post">
    <div class ="col-1-3">
      <a (click)="getBack()" class="button">Back</a>
    </div>
    <div class ="col-1-3">
    </div>
    <div class="col-1-3 imageContainer">
      <img src="../assets/Music Scores/alto sax/LT_score_10 copy.jpg">
    </div>
    <div class="col-1-3 imageContainer">
      <img src="../assets/Music Scores/bass/LT_score_5 copy.jpg">
    </div>

    <div class="col-1-3 imageContainer">
      <img src="../assets/Music Scores/concert chords/LT_score_9 copy.jpg">
    </div>
    <div class="col-1-3 imageContainer">
      <img src="../assets/Music Scores/percussion/LT_score_11 copy.jpg">
    </div>
    <div class="col-1-3 imageContainer">
      <img src="../assets/Music Scores/piano/LT_score_4 copy.jpg">
    </div>
    
    </div>

   

</section>
<!--End of Article-->
