<!--Article-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">

    <div class="row clearfix" *ngIf="post">
      <div>
        SEARCH BAR
        </div>
        <div class="col-1-2">
          <app-post [post]="post"></app-post>
              Item's Picture
          </div>

          <div class="col-2-2">
            Item's Information
        </div>

    </div>
    <div>
        OTHER ITEM'S PICTURE
        </div>
    <a (click)="getBack()" class="button">Back</a>
</section>
<!--End of Article-->
