<!--User dashboard-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <!--Displays user account, image, and logout button-->
        <div class="col-3">
            <div class="panel">
                <div class="panel-body center">
                    <blockquote class="testimonial classic">
                        <img src="../assets/images/user-images/{{user.image}}" alt="User"/>
                        <q>{{user.bio}}</q>
                        <footer>
                            <a (click)="logout()" class="button">Sign Out</a>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <!--Displays detailed user info (role, bio, email)-->
        <div class="col-2-3">
            <div class="panel">
                <div class="panel-body">
                    <div class="pricing-block-content">
                        <h3>{{user.firstName}} {{user.lastName}}</h3>
                        <p class="pricing-sub">{{user.role | uppercase}}</p>
                        <div class="pricing">
                            <p>{{user.bio}}</p>
                        </div>
                        <ul>
                            test123@gmail.com
                        </ul>
                         
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>