.pagination> li{
    display: inline-block;
    background-color: white;
    border: 1px solid #dddd;
    margin: 15px -1px;
    padding: 10px 15px;
    cursor: pointer;
}
.pagination> li.active{
    background-color: #263c79;
}
.pagination> li.disabled{
    background-color: rgba(221, 221, 221, 0.867);
    cursor: default;
}