#add-button {
    position: fixed;
    top: 10%;
    right: 30px;
    border-radius: 70%;
    z-index: 99999;
    border: white;
    background: white;
    color: white;
}
table {
    width: 100%;
  }
  